*, *:before, *:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #1e88e5;
}
.wrapper {
    background-color: #bbdefb;
}

nav {
    display: flex;
    align-items: center;
    background-color: #1565c0;
    height: 50px; 
    width: 100%;
    justify-content: center;
    padding: .2em;
}

nav div {
    padding: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    margin: 2em 1em 0px 1em;
    color: white;
}

nav a:hover {
    color: #bbdefb;
}

.lionImage {
    width: 100%;
    height: auto;
    overflow: hidden;
}

header {
    align-items: center;
}

.overall {
    display: flex;
    width: 100%;
    background-color: #90caf9;
}

main {
    flex: 2;
    margin: 1em;
}

aside {
    flex: 1;
    margin: 1em;
}

footer {
    background-color: #1565c0;
    color: white;
    text-align: center;
    height: 100px;
}

footer a {
    color: tomato;
}

h1, h2, h3 {
    color: #1565c0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

.secondWrap {
    background-color: #00bcd4;
    width: 80%;
    margin: auto;
}

.flex-item {
    background-color:#0d47a1;
    width: 30%;
    margin: 1em;
    text-align: center;
}

.flex-item p {
    text-align: left;
}

.section-image {
    margin: 0 auto;
    width: 100%
}